{% extends 'staff_page/_base.html' %}

{% block header %}
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'staff_page:index' %}">スタッフページ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link">{{ request.user.username }}さん</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'staff_page:logout' %}" class="nav-link">ログアウト</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
{% endblock %}

{% block content %}
{% endblock %}