{% extends 'staff_page/_base.html' %}



{% block content %}
<h1 class="mt-3">図書館システム</h1>
<h3 class="mb-3 mt-3">スタッフログイン</h3>
{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}
<form class="mb-3" action="{% url 'staff_page:login' %}" method="POST">
    {% csrf_token %}
    <p>
        <label for="username" class="form-label">ユーザー名</label>
        <input type="text" class="form-control" name="username" required>
    </p>
    <p>
        <label for="password" class="form-label">パスワード</label>
        <input type="password" class="form-control" name="password" required>
    </p>
    <p>
        <input type="submit" class="btn btn-primary" value="ログイン">
    </p>
</form>
{% endblock %}