{% extends 'staff_page/_staff_page_base.html' %}

{% block content %}
<h1>返却</h1>

{% if info %}
    <div class="alert alert-primary" role="alert">
        {{ info }}
    </div>
{% endif %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

<form class="mb-3" action="#"  method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <!--
            <label for="book_id" class="form-label">図書ID</label>
            <input type="text" class="form-control" name="book_id" required>
        -->
        <label for="{{ form.book_id.id_for_label }}">図書ID</label>
        {{ form.book_id }}
    </div>
    <input type="submit" class="btn btn-primary" value="返却する">
</form>

<a href="{% url 'staff_page:index' %}">戻る</a>


{% endblock %}